# Clé API Google/Gemini pour l'analyse IA
GEMINI_API_KEY=votre_cle_api_gemini_ici

# Telegram Bot Notification
TELEGRAM_BOT_TOKEN="your_bot_token"
TELEGRAM_CHAT_ID="your_chat_id"

# Base de données Supabase (PostgreSQL)
# Format : postgresql://[user]:[password]@[host]:[port]/[db_name]
DATABASE_URL=postgresql://postgres:VOTRE_MOT_DE_PASSE@db.upqakzypahnercsppgwc.supabase.co:5432/postgres
